<div id="detailsView" class="container" ng-if="isUserSelected">
    <div class="row">
        <div class="col-md-2 evLabel">Imie:</div>
        <div class="col-md-2 evValue">{{selectedUser.name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 evLabel">Nazwisko:</div>
        <div class="col-md-2 evValue">{{selectedUser.surname}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 evLabel">Wiek:</div>
        <div class="col-md-2 evValue">{{selectedUser.age}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 evLabel">Płeć:</div>
        <div class="col-md-2 evValue">{{selectedUser.sex}}</div>
    </div>
</div>