<div class="container-fluid">
    <div class="page-header">
        <h1>Użytkownicy</h1>
    </div>
    <div class="row" id="buttonView">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button-view is-user-selected="isUserSelected" edit-btn-click="editBtnClick" delete-btn-click="deleteBtnClick"></button-view>
        </div>
    </div>
    <div class="row">
        <table-view>
            <details-view visible="isUserSelected" data-user="selectedUser"></details-view>
        </table-view>
    </div>
</div>
