<button type="button" class="btn btn-primary" id="addBtn">Dodaj</button>
<button type="button" class="btn btn-primary" id="editBtn" disabled>Popraw</button>
<button type="button" class="btn btn-primary" id="deleteBtn" disabled>Usuń</button>