<div class="container">
    <div class="row">
        <div class="col-md-2 evLabel">Imie:</div>
        <div class="col-md-2 evValue">{{user.name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 evLabel">Nazwisko:</div>
        <div class="col-md-2 evValue">{{user.surname}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 evLabel">Wiek:</div>
        <div class="col-md-2 evValue">{{user.age}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 evLabel">Płeć:</div>
        <div class="col-md-2 evValue">{{user.sex}}</div>
    </div>
</div>